/Doomsday/.vs/Doomsday/v16/Browse.VC.db
/Doomsday/.vs/Doomsday/v16/ipch/AutoPCH
/Doomsday/.vs/Doomsday/v16/.suo
/Doomsday/.vs/Doomsday/v16/Browse.VC.db-shm
/Doomsday/.vs/Doomsday/v16/Browse.VC.db-wal
/Doomsday/.vs/Doomsday/v16/Browse.VC.opendb
